<div class="home" style="height:550px;">
    <div class="company" style="height:1000px">
        <div class="container">
            <div class="col-sm-12">
                <div class="headquarters">
                    <div class="row">
                        <div class="company-picture">
                            <img class="company-picture-center" src="images/dafel-old.png">
                            <div class="text-company">
                                <h4>
                                    Teresópolis
                                </h4>
                                <div class="first-text">
                                    <p><i class="fa fa-map-marker"></i>
                                        Estr. Venceslau José de Medeiros 1909 - Prata Teresópolis RJ
                                    </p>
                                </div>
                                <div class="second-text">
                                    <p><i class="fa fa-clock-o"></i>
                                        Seg à Sex, das 07:30 às 17:30; Sáb das 08:00 às 12:00
                                    </p>
                                </div>
                                <div class="third-text">
                                    <p><i class="fa fa-phone"></i>
                                        (21)2743-4200
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="company-line-one">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="branch">
                                <img class="company-picture-center" src="images/dafel-old.png">
                                <h4>
                                    Cabo Frio
                                </h4>
                                <div class="first-text">
                                    <p><i class="fa fa-map-marker"></i>
                                        Av. América Central Nº1721 São Cristóvão - Cabo Frio - RJ
                                    </p>
                                </div>
                                <div class="second-text">
                                    <p><i class="fa fa-clock-o"></i>
                                        Seg à Sex, das 07:30 às 17:30; Sáb das 08:00 às 12:00
                                    </p>
                                </div>
                                <div class="third-text">
                                    <p><i class="fa fa-phone"></i>
                                        (22)2646-2250
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="branch">
                                <img class="company-picture-center" src="images/dafel-old.png">
                                <h4>
                                    Macaé
                                </h4>
                                <div class="first-text-headquarters">
                                    <p><i class="fa fa-map-marker"></i>
                                        Av. Guadalajara, 732 Praia Campista - Macaé - RJ
                                    </p>
                                </div>
                                <div class="second-text-headquarters">
                                    <p><i class="fa fa-clock-o"></i>
                                        Seg à Sex, das 07:30 às 17:30
                                    </p>
                                </div>
                                <div class="third-text-headquarters">
                                    <p><i class="fa fa-phone"></i>
                                        (22) 2763-6550
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="branch">
                                <img class="company-picture-center" src="images/dafel-old.png">
                                <h4>
                                    Indústria
                                </h4>
                                <div class="first-text-headquarters">
                                    <p><i class="fa fa-map-marker"></i>
                                        Estr. Silveira Da Mota - KM 24,Águas Claras - São José Do Vale Do Rio Preto - RJ
                                    </p>
                                </div>
                                <div class="second-text-headquarters">
                                    <p><i class="fa fa-clock-o"></i>
                                        Seg à Sex, das 07:00 às 17:00
                                    </p>
                                </div>
                                <div class="third-text-headquarters">
                                    <p><i class="fa fa-phone"></i>
                                        (24) 2224-1395
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="company-line-one">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="branch">
                                <img class="company-picture-center" src="images/dafel-old.png">
                                <h4>
                                    Conceição de Macabu
                                </h4>
                                <div class="first-text">
                                    <p><i class="fa fa-map-marker"></i>
                                        Av. Victor Sencer Área F Lote 57 - Usina - Conceição de Macabu
                                    </p>
                                </div>
                                <div class="second-text">
                                    <p><i class="fa fa-clock-o"></i>
                                        Seg à Sex, das 07:00 às 17:00
                                    </p>
                                </div>
                                <div class="third-text">
                                    <p><i class="fa fa-phone"></i>
                                        (21)2743-4200
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="branch">
                                <img class="company-picture-center" src="images/dafel-old.png">
                                <h4>
                                    Dafel Express - Unidade Rio Preto
                                </h4>
                                <div class="first-text-headquarters">
                                    <p><i class="fa fa-map-marker"></i>
                                        Estr. Silveira Da Mota - KM 24,Águas Claras - São José Do Vale Do Rio Preto - RJ
                                    </p>
                                </div>
                                <div class="second-text-headquarters">
                                    <p><i class="fa fa-clock-o"></i>
                                        Seg à Sex, das 07:30 às 17:30
                                    </p>
                                </div>
                                <div class="third-text-headquarters">
                                    <p><i class="fa fa-phone"></i>
                                        (24) 2224-1395
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="branch">
                                <img class="company-picture-center" src="images/dafel-old.png">
                                <h4>
                                    Dafel Express - Unidade Unamar
                                </h4>
                                <div class="first-text-headquarters">
                                    <p><i class="fa fa-map-marker"></i>
                                        R. Manoel Martinho Leal, 67 Unamar(Tamoios) - Cabo Frio - RJ
                                    </p>
                                </div>
                                <div class="second-text-headquarters">
                                    <p><i class="fa fa-clock-o"></i>
                                        Seg à Sex, das 07:30 às 17:30; Sáb das 08:00 às 12:00
                                    </p>
                                </div>
                                <div class="third-text-headquarters">
                                    <p><i class="fa fa-phone"></i>
                                        (22) 2644-8757
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="company-line-one">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="branch">
                                <img class="company-picture-center" src="images/dafel-old.png">
                                <h4>
                                    Dafel Express - Unidade Nova Friburgo
                                </h4>
                                <div class="first-text">
                                    <p><i class="fa fa-map-marker"></i>
                                        R. Antonio Mario de Azevedo, 2165 Friburgo(Córrego Dantas) - Nova Friburgo - RJ
                                    </p>
                                </div>
                                <div class="second-text">
                                    <p><i class="fa fa-clock-o"></i>
                                        Seg à Sex, das 07:30 às 17:30; Sáb das 08:00 às 12:00
                                    </p>
                                </div>
                                <div class="third-text">
                                    <p><i class="fa fa-phone"></i>
                                        (22) 2529-3376
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="branch">
                                <img class="company-picture-center" src="images/dafel-old.png">
                                <h4>
                                    Ecin
                                </h4>
                                <div class="first-text-headquarters">
                                    <p><i class="fa fa-map-marker"></i>
                                        Av. Barao do Rio Branco N°1939 Centro - Petropolis - RJ
                                    </p>
                                </div>
                                <div class="second-text-headquarters">
                                    <p><i class="fa fa-clock-o"></i>
                                        Seg à Sex, das 07:30 às 17:30; Sáb das 08:00 às 12:00
                                    </p>
                                </div>
                                <div class="third-text-headquarters">
                                    <p><i class="fa fa-phone"></i>
                                        (24) 2244-2750
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="branch">
                                <img class="company-picture-center" src="images/dafel-old.png">
                                <h4>
                                    Macaé
                                </h4>
                                <div class="first-text-headquarters">
                                    <p><i class="fa fa-map-marker"></i>
                                        Estr. Venceslau José de Medeiros 1914 - Prata Teresópolis RJ
                                    </p>
                                </div>
                                <div class="second-text-headquarters">
                                    <p><i class="fa fa-clock-o"></i>
                                        Seg à Sex, das 07:30 às 17:30; Sáb das 08:00 às 12:00
                                    </p>
                                </div>
                                <div class="third-text-headquarters">
                                    <p><i class="fa fa-phone"></i>
                                        (21)2743-4214
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>