<div class="home">
    <div class="company">
        <div class="title-company">
            <h5>
                Grupo Dafel
            </h5>
            <h2>
                Clique e confira todas as nossas unidades pelo estado do Rio de Janeiro
            </h2>
        </div>
        <div class="container">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <img class="company-picture-center" src="images/dafel-old.png">
                        <div class="text-company-line">
                            <h4>
                                Matriz
                            </h4>
                            <a href="https://www.google.com/maps/place/Dafel+Distribuidora+de+A%C3%A7o/@-22.3884048,-42.9564199,17z/data=!3m1!4b1!4m5!3m4!1s0x984c8833f2e6eb:0xcd99f38c742766a7!8m2!3d-22.3884048!4d-42.9542312" class="first-text" target="_blank">
                                <p><i class="fa fa-map-marker"></i>
                                    Est. Venceslau José de Medeiros 1909 <br> Prata - Teresópolis - RJ
                                </p>
                            </a>
                            <div class="second-text">
                                <p><i class="fa fa-clock-o"></i>
                                    Seg à Sex, das 07:30 às 17:30;<br> Sáb das 08:00 às 12:00
                                </p>
                            </div>
                            <div class="third-text">
                                <p><i class="fa fa-phone"></i>
                                    (21)2743-4200
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="company-picture-center" src="images/dafel-old.png">
                        <div class="text-company-line">
                            <h4>
                                Cabo Frio
                            </h4>
                            <a href="https://www.google.com/maps/place/Dafel+-+Cabo+Frio/@-22.8848093,-42.0507348,19z/data=!4m8!1m2!2m1!1sdafel+cabo+frio!3m4!1s0x971ac570d68b19:0xd32dc4d5e6b0444d!8m2!3d-22.884797!4d-42.050632" class="first-text-headquarters" target="_blank">
                                <p><i class="fa fa-map-marker"></i>
                                    Av. América Central 1721 São Cristóvão<br>Cabo Frio - RJ
                                </p>
                            </a>
                            <div class="second-text-headquarters">
                                <p><i class="fa fa-clock-o"></i>
                                    Seg à Sex, das 07:30 às 17:30; <br>Sáb das 08:00 às 12:00
                                </p>
                            </div>
                            <div class="third-text-headquarters">
                                <p><i class="fa fa-phone"></i>
                                    (22)2646-2250
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <img class="company-picture-center" src="images/dafel-old.png">
                        <div class="text-company-line">
                            <h4>
                                Macaé
                            </h4>
                            <a href="https://www.google.com/maps/place/Dafel+Maca%C3%A9/@-22.3926452,-41.7795514,20.75z/data=!4m7!3m6!1s0x9630ebcd220af7:0xbd035bb005bee582!8m2!3d-22.3927036!4d-41.7796358!9m1!1b1" class="first-text" target="_blank">
                                <p><i class="fa fa-map-marker"></i>
                                    Av. Guadalajara 732 Praia Campista <br> Macaé - RJ
                                </p>
                            </a>
                            <div class="second-text">
                                <p><i class="fa fa-clock-o"></i>
                                    Seg à Sex, das 07:30 às 17:30
                                </p>
                            </div>
                            <div class="third-text">
                                <p><i class="fa fa-phone"></i>
                                    (22) 2763-6550
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <img class="company-picture-center" src="images/dafel-old.png">
                        <div class="text-company-line">
                            <h4>
                                Ecin
                            </h4>
                            <a href="https://www.google.com/maps/place/ECIN+Alum%C3%ADnio+e+Ferro/@-22.4884035,-43.1770237,17.5z/data=!4m5!3m4!1s0x0:0xdb913fa919949025!8m2!3d-22.4882934!4d-43.1776865" class="first-text-headquarters" target="_blank">
                                <p><i class="fa fa-map-marker"></i>
                                    Av. Barao do Rio Branco N°1939 <br>Centro - Petropolis - RJ
                                </p>
                            </a>
                            <div class="second-text-headquarters">
                                <p><i class="fa fa-clock-o"></i>
                                    Seg à Sex, das 07:30 às 17:30;<br> Sáb das 08:00 às 12:00
                                </p>
                            </div>
                            <div class="third-text-headquarters">
                                <p><i class="fa fa-phone"></i>
                                    (24) 2244-2750
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <img class="company-picture-center" src="images/dafel-old.png">
                        <div class="text-company-line">
                            <h4>
                                Conceição de Macabu
                            </h4>
                            <a href="https://www.google.com/maps/place/Av.+Victor+Sence,+57+-+RODHIA,+Concei%C3%A7%C3%A3o+de+Macabu+-+RJ,+28740-000/@-22.0748018,-41.8775855,17z/data=!3m1!4b1!4m5!3m4!1s0xbd83d4109b6107:0xd6d3188fab30ccc5!8m2!3d-22.0748068!4d-41.8753968" class="first-text" target="_blank">
                                <p><i class="fa fa-map-marker"></i>
                                    Av. Victor Sencer Área F Lote 57 Usina<br> Conceição de Macabu - RJ
                                </p>
                            </a>
                            <div class="second-text">
                                <p><i class="fa fa-clock-o"></i>
                                    Seg à Sex, das 07:00 às 17:00
                                </p>
                            </div>
                            <div class="third-text">
                                <p><i class="fa fa-phone"></i>
                                    (21)2743-4200
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <img class="company-picture-center" src="images/dafel-old.png">
                        <div class="text-company-line">
                            <h4>
                                Indústria
                            </h4>
                            <a href="https://www.google.com/maps/place/Dafel+Express/@-22.1673517,-42.9395815,17.5z/data=!4m8!1m2!2m1!1sdafel+s%C3%A3o+jose!3m4!1s0x98417dedc5e689:0x8c60b354d6c4b8ff!8m2!3d-22.1669982!4d-42.9394824" class="first-text-headquarters" target="_blank">
                                <p><i class="fa fa-map-marker"></i>
                                    Estr. Silveira Da Mota - KM 24 - Águas Claras<br>São José Do Vale Do Rio Preto - RJ
                                </p>
                            </a>
                            <div class="second-text-headquarters">
                                <p><i class="fa fa-clock-o"></i>
                                    Seg à Sex, das 07:00 às 17:00
                                </p>
                            </div>
                            <div class="third-text-headquarters">
                                <p><i class="fa fa-phone"></i>
                                    (24) 2224-1395
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="company-picture-center" src="images/dafel-old.png">
                        <div class="text-company-line">
                            <h4>
                                Dafel Express - Unidade Rio Preto
                            </h4>
                            <a href="https://www.google.com/maps/place/Dafel+Express/@-22.1673517,-42.9395815,17.5z/data=!4m8!1m2!2m1!1sdafel+s%C3%A3o+jose!3m4!1s0x98417dedc5e689:0x8c60b354d6c4b8ff!8m2!3d-22.1669982!4d-42.9394824" class="first-text-headquarters" target="_blank">
                                <p><i class="fa fa-map-marker"></i>
                                    Estr. Silveira Da Mota KM 24,Águas Claras<br> São José Do Vale Do Rio Preto - RJ
                                </p>
                            </a>
                            <div class="second-text-headquarters">
                                <p><i class="fa fa-clock-o"></i>
                                    Seg à Sex, das 07:30 às 17:30
                                </p>
                            </div>
                            <div class="third-text-headquarters">
                                <p><i class="fa fa-phone"></i>
                                    (24) 2224-1395
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <img class="company-picture-center" src="images/dafel-old.png">
                        <div class="text-company-line">
                            <h4>
                                Dafel Express - Unidade Unamar
                            </h4>
                            <a href="https://www.google.com/maps/place/Carton+Drywall/@-22.3878164,-42.9547874,20.75z/data=!4m5!3m4!1s0x0:0x4ef36a4b34732399!8m2!3d-22.3878634!4d-42.9546019" class="first-text" target="_blank">
                                <p><i class="fa fa-map-marker"></i>
                                    R. Manoel Martinho Leal 67 <br>Unamar - Cabo Frio  RJ
                                </p>
                            </a>
                            <div class="second-text">
                                <p><i class="fa fa-clock-o"></i>
                                    Seg à Sex, das 07:30 às 17:30;<br> Sáb das 08:00 às 12:00
                                </p>
                            </div>
                            <div class="third-text">
                                <p><i class="fa fa-phone"></i>
                                    (22) 2644-8757
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <img class="company-picture-center" src="images/dafel-old.png">
                        <div class="text-company-line">
                            <h4>
                                Dafel Express - Unidade Nova Friburgo
                            </h4>
                            <a href="https://www.google.com/maps/place/ECIN+Alum%C3%ADnio+e+Ferro/@-22.4882874,-43.1786138,17.75z/data=!4m5!3m4!1s0x9907f4fbbae0c1:0xdb913fa919949025!8m2!3d-22.4882934!4d-43.1776865" class="first-text-headquarters" target="_blank">
                                <p><i class="fa fa-map-marker"></i>
                                    R. Antonio Mario de Azevedo 2165 <br>Friburgo - Nova Friburgo  RJ
                                </p>
                            </a>
                            <div class="second-text-headquarters">
                                <p><i class="fa fa-clock-o"></i>
                                    Seg à Sex, das 07:30 às 17:30; <br>Sáb das 08:00 às 12:00
                                </p>
                            </div>
                            <div class="third-text-headquarters">
                                <p><i class="fa fa-phone"></i>
                                    (22) 2529-3376
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <img class="company-picture-center" src="images/dafel-old.png">
                        <div class="text-company-line">
                            <h4>
                                Carton Dry Wall
                            </h4>
                            <a href="https://www.google.com/maps/place/Carton+Drywall/@-22.3878634,-42.9546019,15z/data=!4m5!3m4!1s0x0:0x4ef36a4b34732399!8m2!3d-22.3878634!4d-42.9546019" class="first-text" target="_blank">
                                <p><i class="fa fa-map-marker"></i>
                                    Est. Venceslau José de Medeiros 1914 <br> Prata - Teresópolis RJ
                                </p>
                            </a>
                            <div class="second-text">
                                <p><i class="fa fa-clock-o"></i>
                                    Seg à Sex, das 07:30 às 17:30;<br> Sáb das 08:00 às 12:00
                                </p>
                            </div>
                            <div class="third-text">
                                <p><i class="fa fa-phone"></i>
                                    (21)2743-4214
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>