<div class="contact" style="height: 500px">
    <div class="contact-title">
        <h1>
            Entre em contato
        </h1>
    </div>
    <div class="container">
        <div class="col-sm-12">
            <div class="contact-rh">
                <div class="row">
                    <div class="col-sm-6">
                        <h5>
                            Contate Nosso RH
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="name">
                <div class="row">
                    <div class="col-sm-6">
                            <form role="search" class="contact-bar">
                                <input type="search" class="contact-text" placeholder="Nome">
                            </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="name">
                <div class="row">
                    <div class="col-sm-6">
                        <form role="search" class="contact-bar">
                            <input type="search" class="contact-text" placeholder="Telefone">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="name">
                <div class="row">
                    <div class="col-sm-6">
                        <form role="search" class="contact-bar">
                            <input type="search" class="contact-text" placeholder="E-mail">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="name">
                <div class="row">
                    <div class="col-sm-6">
                        <form role="search" class="contact-bar">
                            <textarea type="search" class="contact-text-m" placeholder="Mensagem"></textarea>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="mark-filter-button">
                <div class="row">
                    <div class="col-sm-6">
                        <button class="send">Enviar Mensagem</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>