<div class="contact">
    <div class="contact-title">
        <h1>
            Entre em contato
        </h1>
    </div>
    <div class="container">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contact-rh">
                        <h5>
                            Contate Nosso RH
                        </h5>
                    </div>
                    <div class="name">
                        <form role="search" class="contact-bar">
                            <input type="search" class="contact-text" placeholder="Nome">
                        </form>
                        <form role="search" class="contact-bar">
                            <input type="search" class="contact-text" placeholder="Telefone">
                        </form>
                        <form role="search" class="contact-bar">
                            <input type="search" class="contact-text" placeholder="E-mail">
                        </form>
                        <form role="search" class="contact-bar">
                            <textarea type="search" class="contact-text-m" placeholder="Mensagem"></textarea>
                        </form>
                        <div class="mark-filter-button">
                            <button class="send">Enviar Mensagem</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="contact-telesales">
                        <h5>
                            Contate Nosso Setor de Vendas
                        </h5>
                        <p>
                            Clique logo a baixo e seja atendido por algum de nossos vendedores online por nosso Whatsapp ou por e-mail
                        </p>
                        <a id="whatsapp" target="_blank" href="">
                            <img class="telesales" id="telesales" src="images/wpp-logo.png" />
                        </a>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Search">
                            <div class="input-group-append" href="/">
                                <button class="btn btn-success" type="submit">
                                    <i class="fa fa-location-arrow"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>