<div class="history-page">
    <div class="container">
        <div class="col-sm-12">
            <div class="row">
                <div class="history-image">
                   <img src="images/dafel-old.png">
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <div class="text-one">
                        fbnlksksksksksksksksksks
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="text-two">
                        bcnlsknlcknblsnbvlsbn
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>