<div class="home" style="height:2550px;">
    <div class="home-product" style="height:1000px;">
        <div class="container">
            <div class="products-caption">
                <h6 class="subtitle">Variedades de produtos do Grupo Dafel</h6>
                <h2 class="title">Escolha a baixo o grupo no qual deseja verificar</h2>
            </div>
            <div class="products">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img  class="product-picture" src="images/dafix.png" alt="Hot-dog">
                                    <h6 class="text-product">No Grupo Dafel você encontra a Dafix, um setor especializado em Fixação.</h6>
                                </div>
                                <div class="flip-card-back">
                                    <h1>Grupo Dafel</h1>
                                    <p>Dafix</p>
                                    <p>Confira todo nossos produtos de fixação</p>
                                    <a href="#" class="product-button">Start now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="col-sm-4">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img  class="product-picture" src="images/vergalhao.png" alt="Hot-dog">
                                        <h6 class="text-product">No Grupo Dafel você encontra a Dafix, um setor especializado em Fixação.</h6>
                                    </div>
                                    <div class="flip-card-back">
                                        <h1>Grupo Dafel</h1>
                                        <p>Dafix</p>
                                        <p>Confira todo nossos produtos de fixação</p>
                                        <a href="#" class="product-button">Start now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img  class="product-picture" src="images/acm.png" alt="Hot-dog">
                                        <h6 class="text-product">No Grupo Dafel você encontra a Dafix, um setor especializado em Fixação.</h6>
                                    </div>
                                    <div class="flip-card-back">
                                        <h1>Grupo Dafel</h1>
                                        <p>Dafix</p>
                                        <p>Confira todo nossos produtos de fixação</p>
                                        <a href="#" class="product-button">Start now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="col-sm-4">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img  class="product-picture" src="images/epi.png" alt="Hot-dog">
                                    <h6 class="text-product">No Grupo Dafel você encontra a Dafix, um setor especializado em Fixação.</h6>
                                </div>
                                <div class="flip-card-back">
                                    <h1>Grupo Dafel</h1>
                                    <p>Dafix</p>
                                    <p>Confira todo nossos produtos de fixação</p>
                                    <a href="#" class="product-button">Start now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img  class="product-picture" src="images/vidro.png" alt="Hot-dog">
                                    <h6 class="text-product">No Grupo Dafel você encontra a Dafix, um setor especializado em Fixação.</h6>
                                </div>
                                <div class="flip-card-back">
                                    <h1>Grupo Dafel</h1>
                                    <p>Dafix</p>
                                    <p>Confira todo nossos produtos de fixação</p>
                                    <a href="#" class="product-button">Start now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img  class="product-picture" src="images/perfil.png" alt="Hot-dog">
                                    <h6 class="text-product">No Grupo Dafel você encontra a Dafix, um setor especializado em Fixação.</h6>
                                </div>
                                <div class="flip-card-back">
                                    <h1>Grupo Dafel</h1>
                                    <p>Dafix</p>
                                    <p>Confira todo nossos produtos de fixação</p>
                                    <a href="#" class="product-button">Start now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
    <div class="history" style="height:500px;">
        <div class="parallax">
            <div class="parallax-picture">
                <div class="text-history">
                    <h2>Historia Grupo Dafel</h2>
                    <p>A Dafel iniciou suas atividades no ano de 1990 no bairro da Prata na cidade de Teresópolis-RJ. Inicialmente comercializando alumínio e ferro para indústria local e alguns acessórios.
                        Com a perseverança e a competência que sempre fundamentou nossa direção, todos os contratempos e limitações foram superados. Com o passar do tempo, a empresa foi diversificando sua linha de produtos, ampliando seu mix e seus negócios.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="company" style="height:550px">
        <div class="container">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <div class="company-description">
                            <h1>
                                Grupo dafel
                            </h1>
                            <p>
                                Nosso Grupo Dafel conta com 10 Unidades atualmente nisso clique a baixo e confira nossas unidades espalhadas pelo estado do Rio de Janeiro.
                            </p>
                            <a href="company" class="company-button">
                                Unidades
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="headquarters">
                            <div class="company-picture">
                                <img class="company-picture-center" src="images/dafel-old.png">
                                <div class="text-company">
                                    <h4>
                                        Matriz
                                    </h4>
                                    <div class="first-text">
                                        <p><i class="fa fa-map-marker"></i>
                                            Estr. Venceslau José de Medeiros 1909 - Prata Teresópolis RJ
                                        </p>
                                    </div>
                                    <div class="second-text">
                                        <p><i class="fa fa-clock-o"></i>
                                            Seg à Sex, das 07:30 às 17:30; Sáb das 08:00 às 12:00
                                        </p>
                                    </div>
                                    <div class="third-text">
                                        <p><i class="fa fa-phone"></i>
                                            (21)2743-4200
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact" style="height: 500px">

    </div>
</div>


