<div class="home" style="height:2000px;">
    <div class="home-product" style="height:1000px;">
        <div class="container">
            <div class="products-caption">
                <h6 class="subtitle">Variedades de produtos do Grupo Dafel</h6>
                <h2 class="title">Escolha a baixo o grupo no qual deseja verificar</h2>
            </div>
            <div class="products">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img  class="product-picture" src="images/dafix.png" alt="Hot-dog">
                                    <h6 class="text-product">No Grupo Dafel você encontra a Dafix, um setor especializado em Fixação.</h6>
                                </div>
                                <div class="flip-card-back">
                                    <h1>Grupo Dafel</h1>
                                    <p>Dafix</p>
                                    <p>Confira todo nossos produtos de fixação</p>
                                    <a href="#" class="product-button">Start now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="col-sm-4">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img  class="product-picture" src="images/vergalhao.png" alt="Hot-dog">
                                        <h6 class="text-product">No Grupo Dafel você encontra a Dafix, um setor especializado em Fixação.</h6>
                                    </div>
                                    <div class="flip-card-back">
                                        <h1>Grupo Dafel</h1>
                                        <p>Dafix</p>
                                        <p>Confira todo nossos produtos de fixação</p>
                                        <a href="#" class="product-button">Start now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img  class="product-picture" src="images/acm.png" alt="Hot-dog">
                                        <h6 class="text-product">No Grupo Dafel você encontra a Dafix, um setor especializado em Fixação.</h6>
                                    </div>
                                    <div class="flip-card-back">
                                        <h1>Grupo Dafel</h1>
                                        <p>Dafix</p>
                                        <p>Confira todo nossos produtos de fixação</p>
                                        <a href="#" class="product-button">Start now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="col-sm-4">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img  class="product-picture" src="images/epi.png" alt="Hot-dog">
                                    <h6 class="text-product">No Grupo Dafel você encontra a Dafix, um setor especializado em Fixação.</h6>
                                </div>
                                <div class="flip-card-back">
                                    <h1>Grupo Dafel</h1>
                                    <p>Dafix</p>
                                    <p>Confira todo nossos produtos de fixação</p>
                                    <a href="#" class="product-button">Start now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img  class="product-picture" src="images/vidro.png" alt="Hot-dog">
                                    <h6 class="text-product">No Grupo Dafel você encontra a Dafix, um setor especializado em Fixação.</h6>
                                </div>
                                <div class="flip-card-back">
                                    <h1>Grupo Dafel</h1>
                                    <p>Dafix</p>
                                    <p>Confira todo nossos produtos de fixação</p>
                                    <a href="#" class="product-button">Start now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img  class="product-picture" src="images/perfil.png" alt="Hot-dog">
                                    <h6 class="text-product">No Grupo Dafel você encontra a Dafix, um setor especializado em Fixação.</h6>
                                </div>
                                <div class="flip-card-back">
                                    <h1>Grupo Dafel</h1>
                                    <p>Dafix</p>
                                    <p>Confira todo nossos produtos de fixação</p>
                                    <a href="#" class="product-button">Start now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
    <div class="history" style="height:500px;">
        <div class="text-history">
            <h2>Historia Grupo Dafel</h2>
            <p>A Dafel iniciou suas atividades no ano de 1990 no bairro da Prata na cidade de Teresópolis-RJ. Inicialmente comercializando alumínio e ferro para indústria local e alguns acessórios.
                Com a perseverança e a competência que sempre fundamentou nossa direção, todos os contratempos e limitações foram superados. Com o passar do tempo, a empresa foi diversificando sua linha de produtos, ampliando seu mix e seus negócios.
            </p>
        </div>
    </div>
</div>