<div class="product">
    <div class="search-product">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h4>
                        Faça aqui sua busca por nossos produtos.
                    </h4>
                </div>
                <div class="col-sm-8">
                    <div class="search-bar">
                        <form role="search" class="search">
                            <input type="search" class="search-text">
                            <a class="btn" href="/#">
                                <i class="fa fa-search"></i>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="select-product">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="select-category">
                        <div class="category">
                            <div class="category-box-title">
                                <h5>
                                    Grupo de Produto
                                </h5>
                            </div>
                                <div class="list-links">
                                    <li>
                                        <a  class="Acessorios" href="product"> Acessorios </a>
                                    </li>
                                    <li>
                                        <a  class="Acessorios" href="product"> Aluminio </a>
                                    </li>
                                    <li>
                                        <a  class="Acessorios" href="product"> EPI </a>
                                    </li>
                                    <li>
                                        <a  class="Acessorios" href="product"> Ferramentas </a>
                                    </li>
                                    <li>
                                        <a  class="Acessorios" href="product"> Ferro </a>
                                    </li>
                                    <li>
                                        <a  class="Acessorios" href="product"> Maquinas </a>
                                    </li>
                                    <li>
                                        <a  class="Acessorios" href="product"> Fixação </a>
                                    </li>
                                    <li>
                                        <a  class="Acessorios" href="product"> Vidro </a>
                                    </li>
                                </div>
                            </div>
                        <div class="mark">
                                <div class="mark-box-title">
                                    <h5>
                                        Fornecedor
                                    </h5>
                                </div>
                                <div class="mark-link">
                                    <select class="mark-filter" autocomplete="off">
                                        <option value="all">Todos</option>
                                        <option value="all">Ideia Glass</option>
                                        <option value="all">Norton</option>
                                        <option value="all">Staret</option>
                                        <option value="all">irwin</option>
                                    </select>
                                    <div class="mark-filter-button">
                                        <button class="mark-button">Pesquisar</button>
                                    </div>
                                </div>
                            </div>
                        <div class="profession">
                            <div class="profession-box-title">
                                <h5>
                                    Seguimento
                                </h5>
                            </div>
                            <div class="list-links">
                                <li>
                                    <a  class="Acessorios" href="product"> Acessorios</a>
                                </li>
                                <li>
                                    <a  class="Acessorios" href="product"> Acessorios</a>
                                </li>
                                <li>
                                    <a  class="Acessorios" href="product"> Acessorios</a>
                                </li>
                                <li>
                                    <a  class="Acessorios" href="product"> Acessorios</a>
                                </li>
                                <li>
                                    <a  class="Acessorios" href="product"> Acessorios</a>
                                </li>
                                <li>
                                    <a  class="Acessorios" href="product"> Acessorios</a>
                                </li>
                                <li>
                                    <a  class="Acessorios" href="product"> Acessorios</a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="catalog">
                        <div class="order-product">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="order-product-left">
                                        <p>
                                           Ordenar por:
                                        <select class="product-filter" autocomplete="off">
                                            <option value="all">Preço Crescente</option>
                                            <option value="all">Todos</option>
                                            <option value="all">Todos</option>
                                            <option value="all">Todos</option>
                                        </select>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4"></div>
                            </div>
                        </div>
                        <div class="product-catalog">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="product-description">
                                        <img src="images/botina.png">
                                        <p class="product-name">
                                            Bota Nobuck C/ bico de Plastico N°39
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-description">
                                        <img src="images/botina.png">
                                        <p class="product-name">
                                            Bota Nobuck C/ bico de Plastico N°39
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-description">
                                        <img src="images/botina.png">
                                        <p class="product-name">
                                            Bota Nobuck C/ bico de Plastico N°39
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-description">
                                        <img src="images/botina.png">
                                        <p class="product-name">
                                            Bota Nobuck C/ bico de Plastico N°39
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-description">
                                        <img src="images/botina.png">
                                        <p class="product-name">
                                            Bota Nobuck C/ bico de Plastico N°39
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-description">
                                        <img src="images/botina.png">
                                        <p class="product-name">
                                            Bota Nobuck C/ bico de Plastico N°39
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-description">
                                        <img src="images/botina.png">
                                        <p class="product-name">
                                            Bota Nobuck C/ bico de Plastico N°39
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-description">
                                        <img src="images/botina.png">
                                        <p class="product-name">
                                            Bota Nobuck C/ bico de Plastico N°39
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-description">
                                        <img src="images/botina.png">
                                        <p class="product-name">
                                            Bota Nobuck C/ bico de Plastico N°39
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pagination">
                            <div class="col-sm-4">
                                <p>
                                    1-9 Produto (S) de 9
                                </p>
                            </div>
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                <div class="pagination-number">
                                    <a href="/product"><i class="fa fa-angle-left"></i>Anterior</a>
                                    <a href="/product">1</a>
                                    <a href="/product">2</a>
                                    <a href="/product">3</a>
                                    <a href="/product">Proximo<i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>