<div class="product">
    <div class="search-product">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h4>
                        Faça aqui sua busca por nossos produtos.
                    </h4>
                </div>
                <div class="col-sm-8">
                    <div class="search-bar">
                        <form role="search" class="search">
                            <i class="fa fa-search"></i>
                            <input type="search" class="search-text">
                            <button type="submit">Pesquisar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="select-product">
        <div class="container">
            <div class="col-sm-3">
                <div class="select-category">
                    <div class="category">
                        <div class="category-box-title">
                            <h5>
                                Categorias
                            </h5>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>