.company
{
    background-color: #fff;
}

.home .company .company-picture-center
{
    width: 220px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.home .company .company-picture img
{
    width: 200px;
    height: 200px;
}

.home .company .company-picture
{
    text-align: center;
}


.home .company .company-picture h4
{
    text-align: center;
    margin: 3px 0 5px 0;
    font-size: 25px;
}

.home .company .text-company
{
    height: 200px;
}

.home .company .text-company p
{
    margin-bottom: 5px;
    font-size: 15px;
}

.home .company .text-company-line
{
    margin-bottom: 45px;
}

.home .company .text-company-line a
{
    color: black;
    text-decoration: none;
}

.home .company .text-company-line p
{
    font-size: 13px;
    margin-bottom: 10px;
}

.home .company .company-picture .third-text-headquarters
{
    margin: 0 0 0 140px;
}

.home .company .company-picture .second-text-headquarters
{
    margin: 0 0 0 25px;
}

.home .company .company-picture .second-text-headquarters i
{
    margin: 4px 0 0 -2px;
}

.company .container .headquarters .row
{
    padding: 0 0 0 385px;
}

.company .container .col-md-12
{
    right: 0;
    z-index: 0;
    bottom: 7px;
    margin-top: 20px;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}
.home .company h1
{
    margin-bottom: 25px;
}

.company .title-company
{
    width: 100%;
    color: white;
    padding: 20px;
    text-align: center;
    background: #b1501a;
    margin-bottom: 40px;
}

.home .company .company-description h1
{
font-size: 50px;
margin: 20px 0 30px;
}

.home .company .company-description p
{
font-size: 24px;
margin-bottom: 45px;
}

.home .company .company-description a
{
color: white;
font-size: 18px;
border-width: 2px;
padding: 11px 24px;
border-radius: 5px;
border-color: #DD6826;
background-color: #DD6826;
}

@media (max-width: 767px)
{
    .home .company
    {
        height: 100% !important;
    }

    .home .company .company-description
    {
        height: 100%;
        display: block;
        text-align: center;
        position: relative;
    }

    .home .company .headquarters
    {
        display: none;
    }

    .home .company .title-company h2
    {
        font-size: 26px;
    }
}