.company
{
    height: 550px;
    background-color: #fff;
}

.home .company .company-picture-center
{
    height: 230px;
    margin: 0px 0px 0px 0px;
    border-radius: 50%;
    width: 260px;
}

.home .company .company-picture img
{
    height: 230px;
    border-radius: 50%;
    width: 260px;
}

.home .company .company-picture
{
    height: 355px;

}

.home .company .company-picture
{
    text-align: center;
}

.home .company .company-picture p
{
    width: 350px;
}

.home .company .company-picture h4
{
    text-align: center;
    margin: 3px 0px 5px 0px;
}

.home .company .company-picture .third-text-headquarters
{
    margin: 0px 0px 0px 140px;
}

.home .company .company-picture .second-text-headquarters
{
    margin: 0px 0px 0px 25px;
}

.home .company .company-picture .second-text-headquarters i
{
    margin: 4px 0px 0px -2px;
}

.company .container .headquarters .row
{
    padding: 0px 0px 0px 385px;
}

.company .container .col-sm-12
{
    right: 0px;
    bottom: 7px;
    z-index: 0;
    padding: 70px 0px;
    position: relative;
    text-align: center;
}

.home .company .company-line-one .cabo-frio h4
{
    padding: 0px 77px;
}

.home .company .company-line-one .macae h4
{
    padding: 0px 93px;
}

.home .company .company-description h1
{
    margin: 20px 0px 50px;
    font-size: 50px;
}

.home .company .company-description p
{
    margin-bottom: 64px;
    font-size: 24px;
}

.home .company .company-description a
{
    border-radius: 5px;
    border-width: 2px;
    font-size: 18px;
    padding: 11px 24px;
    background-color: darkorange;
    color: white;
    border-color: darkorange;
}

.home .company .row
{
    height: 450px;
}