@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body
{
    margin: 0;
    font-family: "poppins", sans-serif;
}

body .container
{
    margin: 0 auto;
    width: 1200px;
}

.categories .btn
{
    color: #fff;
    display: none;
    cursor: pointer;
    padding: 6px 12px;
    border: 1px solid #fff;
    transition: all .3s ease;
    background-color: transparent;
}

.categories .btn:hover
{
    color: orange;
    border-color: orange;
}

@media (max-width: 767px)
{
    .categories .btn
    {
        display: inline-block;
        padding: 7px 5px;
    }

    body .container
    {
        width: 100% !important;
    }
}