.guide
{
    height: 400px;
    background-size: cover;
    background-position: center;
    background-image: url("../images/slide/image-01.jpg");
}

@media (max-width: 767px)
{
    .guide
    {
        height: 230px;
    }
}