header
{
    top: 0;
    left: 0;
    right: 0;
    height: 92px;
    position: fixed;
    padding-top: 10px;
    border-bottom: 1px solid #3F3E48;
}

header .container div
{
    height: 100%;
    float: left;
    box-sizing: border-box;
}

header .container .logo
{
    width: 15%;
    padding: 20px 0;
}

header .container .logo img
{
    max-width: 100%;
    max-height: 100%;
}

header .container .menu
{
    width: 70%;
    text-align: center;
}

header .container .menu a
{
    height: 32px;
    transition: all .3s ease;
    padding: 30px 20px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

header .container .menu a:hover
{
    color: orange;
}

header .container .categories
{
    width: 15%;
    padding: 32px 0 30px;
    text-align: right;
}