header
{
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    height: 92px;
    position: fixed;
}

header .container .logo
{
    padding: 20px 0;
}

header .container .logo img
{
    max-width: 100%;
    max-height: 100%;
}

header .container .menu
{
    text-align: center;
}

header .container .menu a
{
    color: #fff;
    padding: 34px 20px;
    text-decoration: none;
    display: inline-block;
    transition: all .3s ease;
}

header .container .menu a:hover
{
    color: orange;
}

header .container .categories
{
    padding: 26px 0;
    text-align: right;
}

.menu-mobile
{
    left: 100%;
    top: 73px;
    bottom: 0;
    width: 100%;
    position: fixed;
    overflow: hidden;
    transition: all .3s ease;
    background-color: #DD6826;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.menu-mobile .segment-menu
{
    margin: 15px 0;
}

.menu-mobile .segment-menu .product-segment
{
    height: 70px;
}

.menu-mobile .page-menu
{
    background: #4e4e4e;
    text-align: center;
}

.menu-mobile .page-menu .page-mobile
{
    padding: 20px 0;
}

.menu-mobile .page-menu .page-mobile a
{
    color: white;
}

.menu-mobile .contact-social-menu
{
    text-align: center;
    margin-top: 15px;
}

.menu-mobile .contact-social-menu a
{
    color: white;
}

@media (max-width: 767px)
{
    header
    {
        display: flex !important;
    }

    header .menu
    {
        display: none;
    }

    .menu-mobile.visible
    {
        left: 0;
        height: 100%;
    }

}