header
{
    top: 0;
    left: 0;
    right: 0;
    height: 92px;
    position: fixed;
    padding-top: 10px;
    border-bottom: 1px solid #3F3E48;
    z-index: 1;
}

header .container .logo
{
    padding: 10px 0;
}

header .container .logo img
{
    max-width: 100%;
    max-height: 100%;
}

header .container .menu
{
    text-align: center;
}

header .container .menu a
{
    height: 32px;
    transition: all .3s ease;
    padding: 24px 20px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

header .container .menu a:hover
{
    color: orange;
}

header .container .categories
{
    padding: 19px 0 24px;
    text-align: right;
}