.history
{
    height: 800px;
}

.home .history .text-history h2
{
    margin: 15px;
    color: #ffffff;
    font-size: 45px;
    text-align: center;
    padding: 40px 366px 20px;
}

.home .history .text-history p
{
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 35px 130px;
    margin: 0 0 0 80px;
}

.home .history .text-history a
{
    color: white;
    font-size: 18px;
    margin: 0 0 0 45%;
    border-width: 2px;
    border-radius: 5px;
    padding: 11px 24px;
    border-color: #CF5300;
    background-color: #CF5300;
}

.home .history .parallax-picture
{
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("../images/dafel-old.png");
}

.history .parallax
{
    position: relative;
}

.history .parallax .overlay-history
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    position: absolute;
    background-color: rgba(0,0,0,.35);
}

.history .parallax .text-history
{
    position: absolute;
    z-index: 2;
}

.history-page
{
    background-color: white;
}

.history-page .container .row img
{
    width: 390px;
    height: 350px;
    border-radius: 50%;
    margin: 20px 0 0 31%;
}

.history-page .container .col-sm-12
{
    margin-bottom: 20px;
}

.history-page .container .row .history-heading
{
    text-align: center;
}

.history-page .history-heading
{
    margin-top: 25px;
}

.history-page .text-one
{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 25px;
}

.history-page .text-two
{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 25px;
}