.home .history .text-history h2
{
    margin: 15px;
    color: #ffffff;
    font-size: 45px;
    text-align: center;
    padding: 40px 366px 20px;
}

.home .history .text-history p
{
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 35px 130px;
    margin: 0 0 0 80px;
}

.home .history .text-history a
{
    color: white;
    font-size: 18px;
    margin: 0 0 0 45%;
    border-width: 2px;
    border-radius: 5px;
    padding: 11px 24px;
    border-color: #DD6826;
    background-color: #DD6826;
}

.home .history .parallax-picture
{
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("../images/dafel-old.png");
}

.history .parallax
{
    position: relative;
}

.history .parallax .overlay-history
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    position: absolute;
    background-color: rgba(0,0,0,.35);
}

.history .parallax .text-history
{
    position: absolute;
    z-index: 2;
}

.history-page
{
    background-color: white;
}

.history-page .history-image
{
    background-image: url("../imagens/dafel-old.png");
}

.history-page .container .col-sm-12
{
    margin-bottom: 20px;
}

.history-page .container .row .history-heading
{
    text-align: center;
}

.history-page .history-heading
{
    margin-top: 25px;
}

.history-page .text-one
{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 25px;
}

.history-page .text-two
{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 25px;
}

@media (max-width: 767px)
{
    .home .history
    {
        height: 430px !important;
    }

    .home .history .text-history h2
    {
        margin: 0;
        padding: 0;
        font-size: 30px;
    }

    .home .history .text-history p
    {
        padding: 0;
        margin: 28px 0;
        font-size: 18px;
    }

    .home .history .text-history a
    {
        margin: 0;
        font-size: 18px;
        padding: 11px 24px;
    }

    .home .history .parallax-picture
    {
        min-height: 430px;
    }

    .home .history .text-history
    {
        height: 100%;
        text-align: center;
    }
}