.product .container
{
    width: 1200px;
    background-color: #ffffff;
}

.product .search-product .container
{
    background-color: darkorange;
}

.product .product-picture
{
    height: 500px;
}

.product .text-product
{
    height: 500px;

}

.product .row .product-picture
{
    width: 313px;
    height: 270px;
}

.product .row .text-product
{
    height: 120px;
    font-size: 20px;
    padding: 20px 10px;
}

.product .row .flip-card-front
{
    border: 1px solid #484848;
    border-radius: 5px !important;
}

.product .row .flip-card-back
{
    text-align: start;
    padding: 25px 22px;
    border-radius: 6px;
}

.product .row .flip-card-back p
{
    font-size: 16px;
}

.product .products .row .col-sm-4
{
    margin: 0 0 20px 0;
}

.product .container .products-caption
{
    margin: 0 0 1px 0;
    text-align: center;
    padding: 45px 130px;
}

.product .row .flip-card-back .product-button
{
    color: white;
    padding: 10px;
    font-size: 18px;
    border-width: 2px;
    border-radius: 5px;
    border-color: #474C55;
    background-color: #474C55;
}

.product .row .flip-card-front img
{
    border-radius: 4px;
}

.product .search-bar
{
    margin: 0;
    position: relative;
}

.product .search-bar .fa
{
    left: 95px;
    top: 40.5%;
    font-size: 18px;
    color: white;
    position: absolute;
}

.product .search-text
{
    width: 400px;
    height: 47px;
    color: white;
    font-size: 16px;
    margin: 0 5px 0 0;
    border-radius: 4px;
    padding: 9px 28px 9px 40px;
    border: 1px solid #3F3E48;
    background-color: #3F3E48;
}

.product .search-bar button
{
    color: white;
    font-size: 18px;
    border-width: 2px;
    border-radius: 5px;
    padding: 11px 24px;
    border-color: #3F3E48;
    background-color: #3F3E48;
}

.product .search
{
    padding: 40px 85px;
}

.product .row h4
{
    margin-top: 35px;
    text-align: center;
}

.product .product-row
{
    margin-bottom: 30px;
}

.product .search-product
{
    margin-bottom: 30px;
    background-color: darkorange;
}

.product .product-row .product-card
{
    width: 315px;
    height: 390px;
    border-radius: 7px;
    perspective: 1000px;
    border: 1px solid #000000;
    background-color: transparent;
}

.product .product-row .product-card .product-picture-page img
{
    width: 312px;
    height: 270px;
    border-radius: 7px;
}

.product .product-row .product-card .text-product-picture
{
    text-align: center;
}

.product .product-row .product-card .product-tag
{
    margin-left: 7px;
    margin-right: 7px;
    text-align: center;
}

.product .title-product
{
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    background-color: darkorange;
}

.product .select-category .category
{
    padding: 30px 0;
    background: #fff;
}

.product .select-category .category .category-box-title
{
    color: white;
    width: 245px;
    padding: 2px 2px;
    text-align: center;
    border-radius: 5px;
    border-color: darkorange;
    background-color: darkorange;
}

.product .select-category .list-links li
{
    position: relative;
    padding: 20px 30px 0;
    list-style-type: none;
}

.product .select-category .list-links a
{
    color: #131313;
}

.product .select-category .list-links a:hover
{
    text-decoration: none;
}

.product .select-category .mark
{
    padding: 30px 0;
    background: #fff;
}

.product .select-category .mark .mark-box-title
{
    color: white;
    width: 245px;
    padding: 2px 2px;
    text-align: center;
    border-radius: 5px;
    border-color: darkorange;
    background-color: darkorange;
}

.product .select-category .mark .mark-filter
{
    width: 96%;
    height: 34px;
    margin-top: 15px;
    padding: 6px 10px;
    margin-bottom: 15px;
}

.product .select-category .mark .mark-filter-button
{
    margin-bottom: 15px;

}

.product .select-category .mark .mark-filter-button button
{
    color: white;
    width: 90px;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid darkorange;
    background-color: darkorange;
}

.product .select-category .mark .mark-filter-button button:hover
{
    background: white;
    border-color: white;
    color: #131313;
    border: 1px solid #131313;
}

.product .select-product .profession .profession-box-title
{
    color: white;
    width: 245px;
    padding: 2px 2px;
    text-align: center;
    border-radius: 5px;
    border-color: darkorange;
    background-color: darkorange;
}

.product .catalog .order-product
{
    padding: 30px 0;
}

.product .catalog .product-catalog img
{
    width: 268px;
    height: 268px;
}

.product .catalog .product-catalog p
{
    margin: 0;
    padding: 15px 0 0 0;
}

.product .catalog .product-catalog .product-name
{
    font-weight: 500;
}

.product .catalog .product-catalog .product-price
{
    font-weight: 500;
    font-size: 21px;
}

.product .select-product
{
    height: 1200px;
}

