.product .container
{
    width: 1200px;
    background-color: #ffff
}

.product .product-picture
{
    height: 500px;
}

.product .text-product
{
    height: 500px;

}

.product .row .product-picture
{
    height: 270px;
    width: 309px;
}

.product .row .text-product
{
    height: 120px;
    font-size: 20px;
    padding: 20px 10px;
}

.product .row .flip-card-front
{
    border: 1px solid #484848;
    border-radius: 5px !important;
}

.product .row .flip-card-back
{
    text-align: start;
    padding: 25px 22px;
    border-radius: 6px;
}

.product .row .flip-card-back p
{
    font-size: 16px;
}

.product .products .row .col-sm-4
{
    margin: 0px 0px 20px 0px;
}

.product .container .products-caption
{
    padding: 45px 130px;
    text-align: center;
    margin: 0px 0px 1px 0px;
}

.product .row .flip-card-back .product-button
{
    border-radius: 5px;
    border-width: 2px;
    color: white;
    font-size: 18px;
    border-color: #474C55;
    background-color: #474C55;
    padding: 10px;
}

.product .row .flip-card-front img
{
    border-radius: 4px;
}

