.body
{
    margin-top: 100px;
}

.features
{
    position: relative;
}

.features .carousel .overlay
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    position: absolute;
    background-color: rgba(0,0,0,.25);
}

.features .body
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 92px 0;
    position: absolute;
}

.top-text
{
    text-align: start;
    width: 176px;
    font-size: larger;
    color: white;
    margin: 20px 0;
}

.middle-text
{
    text-align: start;
    width: 478px;
    color: white;
    margin: 20px 0;
}

.final-text
{
    text-align: start;
    width: 302px;
    color: white;
    font-size: 20px;
    margin: 20px 0;
}

.search
{
    padding: 40px 0;
}

.search-bar
{
    margin: 0;
    position: relative;
}

.search-text
{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 16px;
    padding: 9px 28px 9px 40px;
    color: #ddd;
    width: 400px;
    margin: 0px 5px 0px 0px;
    height: 47px;
}

.search-bar .fa
{
    position: absolute;
    left: 1%;
    top: 40.5%;
    font-size: 18px;
    color: white;
}

.search-bar button
{
    border-radius: 5px;
    border-width: 2px;
    font-size: 18px;
    padding: 11px 24px;
    background-color: darkorange;
    color: white;
    border-color: darkorange;
}

.search-bar button:hover
{
    color: white;
}

.product-research
{
    text-align: center;
    width: 95px;
    height: 85px;
}

.product-research .fa
{
    font-size: 40px;
    padding: 10px;
}

.keyboard
{
    border: 2px solid rgba(255, 255, 255, 0.4) !important;
    text-align: center;
    width: 95px;
    height: 85px;
}

.keyboard .fa
{
    font-size: 40px;
    padding: 10px;
}

.body .container .row .col-sm-4
{
    margin-bottom: 15px;
}

.keyboard i
{
    color:white;
}

.keyboard p
{
    color: white;
}