<div class="block">
    <div class="animation">
        <div class="first">
            <img src="images/starrett.png">
        </div>
        <div>
            <img src="images/norton.png">
        </div>
        <div>
            <img src="images/ideia.png">
        </div>
        <div>
            <img src="http://fpoimg.com/200x200">
        </div>
        <div>
            <img src="http://fpoimg.com/200x200">
        </div>
        <div>
            <img src="http://fpoimg.com/200x200">
        </div>
        <div>
            <img src="http://fpoimg.com/200x200">
        </div>
        <div>
            <img src="http://fpoimg.com/200x200">
        </div>
        <div>
            <img src="http://fpoimg.com/200x200">
        </div>
        <div>
            <img src="http://fpoimg.com/200x200">
        </div>
        <!-- cut -->
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-3">
                    <div class="register">
                        <h4>
                            Cadastro
                        </h4>
                        <p>
                            No Grupo Dafel temos sempre promoções esclusivas todas as semanas que mandamos atraves sempre do e-mail, caso queira ficar por dentro de nossas promoções só basta clicar a baixo e se cadastrar, assim já estara recebendo nossas promoções exclusivas de toda semana.(Toda a quinta-feira você recebera uma nova promoção.)
                        </p>
                        <a class="register-button" href="https://info.dafel.com.br/promocao-semanal">
                            Registrar-se
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="contact-social">
                        <h4>
                            Rede Social
                        </h4>
                        <div class="contact-social-midia">
                            <a class="facebook" href="https://pt-br.facebook.com/Dafeloficial/" target="_blank">
                                <p><i class="fa fa-facebook"></i>
                                    Dafel Comercial
                                </p>
                            </a>
                        </div>
                        <div class="contact-social-midia">
                            <a class="intagram" href="https://www.instagram.com/dafelcomercial/" target="_blank">
                                <p><i class="fa fa-instagram"></i>
                                    Dafel Comercial
                                </p>
                            </a>
                        </div>
                        <div class="contact-social-midia">
                            <a class="linkedin" href="https://pt.linkedin.com/company/grupodafel" target="_blank">
                                <p><i class="fa fa-linkedin"></i>
                                    Dafel Comercial
                                </p>
                            </a>
                        </div>
                        <div class="contact-social-midia">
                            <a class="youtube" href="https://www.youtube.com/channel/UCXfFf40-md_PVwq52uxbliw" target="_blank">
                                <p hre><i class="fa fa-youtube"></i>
                                    Dafel Oficial
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="contact-number">
                        <h4>
                            Contatos
                        </h4>
                        <div class="contact-teresopolis">
                            <p><i class="fa fa-phone"></i>
                                Teresópolis - (21) 2743-4200
                            </p>
                        </div>
                        <div class="contact-teresopolis">
                            <p><i class="fa fa-phone"></i>
                                Cabo Frio - (22) 2646-2250
                            </p>
                        </div>
                        <div class="contact-teresopolis">
                            <p><i class="fa fa-phone"></i>
                                Macaé - (22) 2763-6550
                            </p>
                        </div>
                        <div class="contact-teresopolis">
                            <p><i class="fa fa-phone"></i>
                                Industria - (24) 2224-1395
                            </p>
                        </div>
                        <div class="contact-teresopolis">
                            <p><i class="fa fa-phone"></i>
                                Conceição de Macabu - (21) 2743-4200
                            </p>
                        </div>
                        <div class="contact-teresopolis">
                            <p><i class="fa fa-phone"></i>
                                São José - (24) 2224-1395
                            </p>
                        </div>
                        <div class="contact-teresopolis">
                            <p><i class="fa fa-phone"></i>
                                Unamar - (22) 2644-8757
                            </p>
                        </div>
                        <div class="contact-teresopolis">
                            <p><i class="fa fa-phone"></i>
                                Nova Friburgo - (22) 2529-3376
                            </p>
                        </div>
                        <div class="contact-teresopolis">
                            <p><i class="fa fa-phone"></i>
                                Carton - (21) 2743-4214
                            </p>
                        </div>
                        <div class="contact-teresopolis">
                            <p><i class="fa fa-phone"></i>
                                Petropolis - (22) 2244-2750
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </div>
</div>