<div class="teste">
    <div class="provider">
        <div class="animation">
            <div class="logo" style="background-image: url('images/fornecedores/al-logo.png')">
            </div>
            <div class="logo" style="background-image: url('images/fornecedores/ancora-logo.png')">
            </div>
            <div class="logo" style="background-image: url('images/fornecedores/cipalam-logo.png')">
            </div>
            <div class="logo" style="background-image: url('images/fornecedores/delta-logo.png')">
            </div>
            <div class="logo" style="background-image: url('images/fornecedores/hela-logo.png')">
            </div>
            <div class="logo" style="background-image: url('images/fornecedores/ideia-logo.png')">
            </div>
            <div class="logo" style="background-image: url('images/fornecedores/isero-logo.png')">
            </div>
            <div class="logo" style="background-image: url('images/fornecedores/norton-logo.png')">
            </div>
            <div class="logo" style="background-image: url('images/fornecedores/placo-logo.png')">
            </div>
            <div class="logo" style="background-image: url('images/fornecedores/replaex-logo.png')">
            </div>
            <div class="logo" style="background-image: url('images/fornecedores/al-logo.png')">
            </div>
            <div class="logo" style="background-image: url('images/fornecedores/ancora-logo.png')">
            </div>
            <div class="logo" style="background-image: url('images/fornecedores/cipalam-logo.png')">
            </div>
            <div class="logo" style="background-image: url('images/fornecedores/delta-logo.png')">
            </div>
            <div class="logo" style="background-image: url('images/fornecedores/hela-logo.png')">
            </div>
            <div class="logo" style="background-image: url('images/fornecedores/ideia-logo.png')">
            </div>
            <div class="logo" style="background-image: url('images/fornecedores/isero-logo.png')">
            </div>
            <div class="logo" style="background-image: url('images/fornecedores/norton-logo.png')">
            </div>
            <div class="logo" style="background-image: url('images/fornecedores/placo-logo.png')">
            </div>
            <div class="logo" style="background-image: url('images/fornecedores/replaex-logo.png')">
            </div>
             <!-- cut -->
        </div>
    </div>
    <div class="footer" style="height: 470px">
        <div class="container">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="register">
                            <h4>
                                Cadastro
                            </h4>
                            <p>
                                No Grupo Dafel temos sempre promoções esclusivas todas as semanas que mandamos atraves sempre do e-mail, caso queira ficar por dentro de nossas promoções só basta clicar a baixo e se cadastrar, assim já estara recebendo nossas promoções exclusivas de toda semana.(Toda a quinta-feira você recebera uma nova promoção.)
                            </p>
                            <a class="register-button" href="https://info.dafel.com.br/promocao-semanal">
                                Registrar-se
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="contact-number">
                            <h4>
                                Contatos
                            </h4>
                            <div class="row">
                                <div class="col-sm-6 text-right col-6">
                                    <div class="contact-teresopolis">
                                        <a href="tel:2127434200">Matriz - (21) 2743-4200</a>
                                    </div>
                                    <div class="contact-teresopolis">
                                        <a href="tel:2226462250">Cabo Frio - (22) 2646-2250</a>
                                    </div>
                                    <div class="contact-teresopolis">
                                        <a href="tel:2227636550">Macaé - (22) 2763-6550</a>
                                    </div>
                                    <div class="contact-teresopolis">
                                        <a href="tel:2422241395">Industria - (24) 2224-1395</a>
                                    </div>
                                    <div class="contact-teresopolis">
                                        <a href="tel:2127434200">Macabu - (21) 2743-4200</a>
                                    </div>
                                </div>
                                <div class="col-sm-6 text-left col-6">
                                    <div class="contact-teresopolis">
                                        <a href="tel:2422241395">São José - (24) 2224-1395</a>
                                    </div>
                                    <div class="contact-teresopolis">
                                        <a href="tel:2226448757">Unamar - (22) 2644-8757</a>
                                    </div>
                                    <div class="contact-teresopolis">
                                        <a href="tel:2225293376">Friburgo - (22) 2529-3376</a>
                                    </div>
                                    <div class="contact-teresopolis">
                                        <a href="tel:2127434214">Carton - (21) 2743-4214</a>
                                    </div>
                                    <div class="contact-teresopolis">
                                        <a href="tel:2222442750">Petropolis - (22) 2244-2750</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-12">
                        <div class="contact-social">
                            <h4>
                                Rede Social
                            </h4>
                            <div class="contact-social-midia">
                                <a class="facebook" href="https://pt-br.facebook.com/Dafeloficial/" target="_blank">
                                    <p><i class="fa fa-facebook"></i>
                                        Dafel Oficial
                                    </p>
                                </a>
                            </div>
                            <div class="contact-social-midia">
                                <a class="intagram" href="https://www.instagram.com/dafelcomercial/" target="_blank">
                                    <p><i class="fa fa-instagram"></i>
                                        @Dafelcomercial
                                    </p>
                                </a>
                            </div>
                            <div class="contact-social-midia">
                                <a class="linkedin" href="https://pt.linkedin.com/company/grupodafel" target="_blank">
                                    <p><i class="fa fa-linkedin"></i>
                                        Grupo dafel
                                    </p>
                                </a>
                            </div>
                            <div class="contact-social-midia">
                                <a class="youtube" href="https://www.youtube.com/channel/UCXfFf40-md_PVwq52uxbliw" target="_blank">
                                    <p hre><i class="fa fa-youtube"></i>
                                        Dafel Oficial
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>