<header>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-6">
                <div class="logo">
                    <a href="/"><img src="images/logo.png" /></a>
                </div>
            </div>
            <div class="col-sm-8 d-none d-md-block">
                <div class="menu">
                    <a href="/">Início</a>
                    <a href="/product">Produtos</a>
                    <a href="/history">Nossa História</a>
                    <a href="/company">Unidades</a>
                    <a href="/contact">Contato</a>
                </div>
            </div>
            <div class="col-6">
                <div class="categories">
                    <button id="button-category" class="btn">
                        <i class="fa fa-bars"></i> Categorias
                    </button>
                </div>
            </div>
            <div id="header-category" class="menu-mobile">
                <div class="segment-menu">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4 col-4">
                                <div class="product-segment">
                                <a href="product">
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                    <p>Serralheria</p>
                                </a>
                            </div>
                            </div>
                            <div class="col-md-4 col-4">
                                <div class="product-segment">
                                    <a href="produto">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        <p>Construção</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4 col-4">
                                <div class="product-segment">
                                    <a href="produto">
                                        <i class="fa fa-gavel" aria-hidden="true"></i>
                                        <p>Marcenaria</p>
                                    </a>
                                </div>
                            </div>,
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="segment-menu">
                            <div class="row">
                                <div class="col-md-4 col-4">
                                    <div class="product-segment">
                                        <a href="produto">
                                            <i class="fa fa-clone" aria-hidden="true"></i>
                                            <p>Vidraceiro</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-4">
                                    <div class="product-segment">
                                        <a href="produto">
                                            <i class="fa fa-window-maximize" aria-hidden="true"></i>
                                            <p>Gesseiro</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-4">
                                    <div class="product-segment">
                                        <a href="produto">
                                            <i class="fa fa-square-o" aria-hidden="true"></i>
                                            <p>Arquiteto</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="segment-menu">
                            <div class="row">
                                <div class="col-md-4 col-4">
                                    <div class="product-segment">
                                        <a href="produto">
                                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                                            <p>Eletricista</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-4">
                                    <div class="product-segment">
                                        <a href="produto">
                                            <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                                            <p>Produto</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-4">
                                    <div class="product-segment">
                                        <a href="produto">
                                            <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                                            <p>Produto</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-menu">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4 col-4">
                                <div class="page-mobile">
                                    <a href="/">Início</a>
                                </div>
                            </div>
                            <div class="col-md-4 col-4">
                                <div class="page-mobile">
                                    <a href="/history">Nossa História</a>
                                </div>
                            </div>
                            <div class="col-md-4 col-4">
                                <div class="page-mobile">
                                    <a href="/product">Produtos</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-6">
                                <div class="page-mobile">
                                    <a href="/company">Unidades</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-6">
                                <div class="page-mobile">
                                    <a href="/contact">Contato</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-social-menu">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3 col-3">
                                <div class="contact-social-midia">
                                    <a class="facebook" href="https://pt-br.facebook.com/Dafeloficial/" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-3">
                                <div class="contact-social-midia">
                                    <a class="intagram" href="https://www.instagram.com/dafelcomercial/" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-3">
                                <div class="contact-social-midia">
                                    <a class="linkedin" href="https://pt.linkedin.com/company/grupodafel" target="_blank">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-3">
                                <div class="contact-social-midia">
                                    <a class="youtube" href="https://www.youtube.com/channel/UCXfFf40-md_PVwq52uxbliw" target="_blank">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


