<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <div class="logo">
                    <a href="/"><img src="images/logo.png" /></a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="menu">
                    <a href="/">Início</a>
                    <a href="/product">Produtos</a>
                    <a href="/history">Nossa História</a>
                    <a href="/company">Unidades</a>
                    <a href="/contact">Fala conosco </a>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="categories">
                    <button class="btn">
                        <i class="fa fa-bars"></i> Categorias
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>


