<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Grupo Dafel</title>
        <link rel="SHORTCUT ICON" href="/images/favicon.ico" type="image/x-icon">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="description" content="">
        <meta name="theme-color" content="">
        <link href="css/global.css" rel="stylesheet"/>
        <link href="css/header.css" rel="stylesheet"/>
        <link href="css/slide.css" rel="stylesheet"/>
        <link href="css/guide.css" rel="stylesheet"/>
        <link href="css/product.css" rel="stylesheet"/>
        <link href="css/flip.css" rel="stylesheet"/>
        <link href="css/history.css" rel="stylesheet"/>
        <link href="css/company.css" rel="stylesheet"/>
        <link href="css/footer.css" rel="stylesheet"/>
        <link href="css/{$ROUTE}.css" rel="stylesheet"/>
        <link href="font-awesome/css/font-awesome.css" rel="stylesheet"/>
        <link href="bootstrap-4.4.1/css/bootstrap.css" rel="stylesheet"/>
        <link href="bootstrap-4.4.1/css/bootstrap-grid.css" rel="stylesheet"/>
        <link href="bootstrap-4.4.1/css/bootstrap-reboot.css" rel="stylesheet"/>
    </head>
    <body>
        {include file="{$PATH_TEMPLATES}includes/header.html"}
        {if $ROUTE == "home"}
            {include file="{$PATH_TEMPLATES}slide.html"}
        {else}
            {include file="{$PATH_TEMPLATES}guide.html"}
        {/if}
        {include file="{$PATH_TEMPLATES}pages/{$ROUTE}.html"}
        {include file="{$PATH_TEMPLATES}includes/footer.html"}
    </body>
<!--    <script src="js/jquery-3.2.1.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="bootstrap-4.4.1/js/bootstrap.js"></script>
    <script src="js/global.js"></script>
    <script src="js/scroll.js"></script>
    <script src="js/{$ROUTE}.js"></script>
    <script src="js/slide.js"></script>
    <script src="js/random.js"></script>
</html>