<div class="slide">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="slide-text"></div>
                <h6 class="top-text">
                    Grupo Dafel
                </h6>
                <h2 class="middle-text">
                    Dafel Seriedade e nossa marca
                </h2>
                <p class="final-text">
                    No mercado há 30 anos
                </p>
                <div class="search-bar">
                    <form role="search" class="search">
                            <i class="fa fa-search"></i>
                            <input type="search" class="search-text">
                            <button type="submit">Pesquisar</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="product-research">
                            <a href="produto.html">
                                <i class="fa fa-product-hunt" aria-hidden="true"></i>
                                <p>Produto</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                         <div class="keyboard">
                              <a href="produto.html">
                                  <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                                  <p>Produto</p>
                              </a>
                         </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="keyboard">
                            <a href="produto.html">
                                <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                                <p>Produto</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="keyboard">
                            <a href="produto.html">
                                <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                                <p>Produto</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="keyboard">
                            <a href="produto.html">
                                <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                                <p>Produto</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="keyboard">
                            <a href="produto.html">
                                <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                                <p>Produto</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="keyboard">
                            <a href="produto.html">
                                <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                                <p>Produto</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="keyboard">
                            <a href="produto.html">
                                <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                                <p>Produto</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="keyboard">
                            <a href="produto.html">
                                <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                                <p>Produto</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


